<%= text_field_tag :query, nil, placeholder: 'Enter a city name', id: 'city-search' %>

<label for="state-select">State:</label>
<%= select_tag 'state', options_for_select(@states), id: 'state-select'  %>

<h1>Cities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
    </tr>
  </thead>

  <tbody id="city-list">
    
  </tbody>
</table>

